body {
    background-color: #fbfefe;
}

.container {
    width: 50vw;
    height: 50vh;
    margin-top: 20vh;
    position: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background-color: white;
    position: relative;
}

.image {
    position: absolute;
    bottom: 0;
}

.container1 {
    position: absolute;
    right: 10%;
    top: 20%;

}
.notfound h1 {
        font-size: 100px;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-family: 'Muli', sans-serif;
    }

.notfound p {
    margin-top: -10px
}



